div {
	background-color: #ccccff;
	color: #ff0000;
	width: 450px;
	height: 250px;
	padding: 15px;
	border: 5px solid #000000;
	box-sizing: border-box;
	margin: 20px;
}
a {
	background-color: #eeeeee;
}
.test1 {
	font-size: 1em;
}
.test2 {
	font-size: 2em;
	font-weight: 600;
}